In [4]:
import pandas as pd

In [5]:
mydataset =pd.read_csv('country_wise_latest.csv')
print(mydataset)

         Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0           Afghanistan      36263    1269      25198    9796        106
1               Albania       4880     144       2745    1991        117
2               Algeria      27973    1163      18837    7973        616
3               Andorra        907      52        803      52         10
4                Angola        950      41        242     667         18
..                  ...        ...     ...        ...     ...        ...
182  West Bank and Gaza      10621      78       3752    6791        152
183      Western Sahara         10       1          8       1          0
184               Yemen       1691     483        833     375         10
185              Zambia       4552     140       2815    1597         71
186            Zimbabwe       2704      36        542    2126        192

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0            10             18                3.50                  69.49
1             6             63                2.95                  56.25
2             8            749                4.16                  67.34
3             0              0                5.73                  88.53
4             1              0                4.32                  25.47
..          ...            ...                 ...                    ...
182           2              0                0.73                  35.33
183           0              0               10.00                  80.00
184           4             36               28.56                  49.26
185           1            465                3.08                  61.84
186           2             24                1.33                  20.04

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                      5.04                35526            737
1                      5.25                 4171            709
2                      6.17                23691           4282
3                      6.48                  884             23
4                     16.94                  749            201
..                      ...                  ...            ...
182                    2.08                 8916           1705
183                   12.50                   10              0
184                   57.98                 1619             72
185                    4.97                 3326           1226
186                    6.64                 1713            991

     1 week % increase             WHO Region
0                 2.07  Eastern Mediterranean
1                17.00                 Europe
2                18.07                 Africa
3                 2.60                 Europe
4                26.84                 Africa
..                 ...                    ...
182              19.12  Eastern Mediterranean
183               0.00                 Africa
184               4.45  Eastern Mediterranean
185              36.86                 Africa
186              57.85                 Africa

[187 rows x 15 columns]

In [ ]:
#Summarize Case Counts by Region 
# - Display total confirmed, death, and recovered cases for each region
mydataset.groupby('Country/Region').agg({'Confirmed': 'sum', 'Deaths': 'sum', 'Recovered' : 'sum'}).reset_index()

         Country/Region  Confirmed  Deaths  Recovered
0           Afghanistan      36263    1269      25198
1               Albania       4880     144       2745
2               Algeria      27973    1163      18837
3               Andorra        907      52        803
4                Angola        950      41        242
..                  ...        ...     ...        ...
182  West Bank and Gaza      10621      78       3752
183      Western Sahara         10       1          8
184               Yemen       1691     483        833
185              Zambia       4552     140       2815
186            Zimbabwe       2704      36        542

[187 rows x 4 columns]

In [13]:
mydataset.loc[:,"WHO Region"]

0      Eastern Mediterranean
1                     Europe
2                     Africa
3                     Europe
4                     Africa
               ...
182    Eastern Mediterranean
183                   Africa
184    Eastern Mediterranean
185                   Africa
186                   Africa
Name: WHO Region, Length: 187, dtype: object

In [16]:
mydataset.groupby('WHO Region')['Confirmed'].sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [9]:
#Filter Low Case Records 
# - Exclude entries where confirmed cases are < 10.

mydataset[mydataset["Confirmed"]>10]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Vietnam,431,0,365,66,11,0,0,0.00,84.69,0.00,384,47,12.24,Western Pacific
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [ ]:

mydataset.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [25]:
#Identify Region with Highest Confirmed Cases 
print(mydataset["Confirmed"].idxmax())
mydataset.loc[mydataset["Confirmed"].idxmax(),"Country/Region"]

173

'US'

In [ ]:
#Identify Country in each WHO Region with Highest Confirmed Cases 

max_id = mydataset.groupby("WHO Region")["Confirmed"].idxmax()
print(mydataset.loc[max_id,['Country/Region','WHO Region','Confirmed']])

    Country/Region             WHO Region  Confirmed
154   South Africa                 Africa     452529
173             US               Americas    4290259
81            Iran  Eastern Mediterranean     293606
138         Russia                 Europe     816680
79           India        South-East Asia    1480073
36           China        Western Pacific      86783

In [50]:
#Sort Data by Confirmed Cases 
# - Save sorted dataset into a new CSV file.

Sorted_DataSet = mydataset.sort_values(by='Confirmed') 
Sorted_DataSet.to_csv("Sorted.csv",index=False)

In [53]:
mydataset.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [60]:
# Top 5 Countries by Case Count
Decending_Data_Set = mydataset.sort_values(by="Confirmed",ascending=False)
Decending_Data_Set.head()["Country/Region"]

173              US
23           Brazil
79            India
138          Russia
154    South Africa
Name: Country/Region, dtype: object

In [64]:
# Region with Lowest Death Count
mydataset.loc[mydataset["Confirmed"].idxmin(),["Country/Region"]]

Country/Region    Western Sahara
Name: 183, dtype: object

In [68]:
# Loweest WHO Region Lowest Death Count
mydataset.groupby("WHO Region")["Confirmed"].idxmin().idxmin()

'Europe'

In [80]:
# Indiaâ€™s Case Summary (as of April 29, 2020) 
mydataset[mydataset["Country/Region"]=="India"]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia

In [ ]:
mydataset.loc[:,"WHO Region"].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [87]:
# Calculate Mortality Rate by Region 
# - Death-to-confirmed case ratio. 

Confirmed_Total_RegionWise = mydataset.groupby("WHO Region")["Confirmed"].sum()
Death_Total_RegionWise = mydataset.groupby("WHO Region")["Deaths"].sum()
( Death_Total_RegionWise / Confirmed_Total_RegionWise ) *100

WHO Region
Africa                   1.690111
Americas                 3.877372
Eastern Mediterranean    2.571803
Europe                   6.399228
South-East Asia          2.252987
Western Pacific          2.820865
dtype: float64

In [88]:
# Compare Recovery Rates Across Regions

Confirmed_Total_RegionWise = mydataset.groupby("WHO Region")["Confirmed"].sum()
Recovered_Total_RegionWise = mydataset.groupby("WHO Region")["Recovered"].sum()
( Recovered_Total_RegionWise / Confirmed_Total_RegionWise ) *100

WHO Region
Africa                   60.929305
Americas                 50.554038
Eastern Mediterranean    80.590631
Europe                   60.424583
South-East Asia          63.037917
Western Pacific          70.708003
dtype: float64

In [90]:
#  Detect Outliers in Case Counts 
# - Use mean Â± 2*std deviation. 

mean_confirmed = mydataset["Confirmed"].mean()
std_dv_confirmed = mydataset["Confirmed"].std()

# Define the lower and upper bounds for outliers
Upper_Bound_Val = mean_confirmed + 2 * std_dv_confirmed
Lower_Bound_Val = mean_confirmed - 2 * std_dv_confirmed

# Outliers Calculation
print(mydataset[(mydataset['Confirmed'] < Upper_Bound_Val) | (mydataset['Confirmed'] > Lower_Bound_Val)])

         Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0           Afghanistan      36263    1269      25198    9796        106
1               Albania       4880     144       2745    1991        117
2               Algeria      27973    1163      18837    7973        616
3               Andorra        907      52        803      52         10
4                Angola        950      41        242     667         18
..                  ...        ...     ...        ...     ...        ...
182  West Bank and Gaza      10621      78       3752    6791        152
183      Western Sahara         10       1          8       1          0
184               Yemen       1691     483        833     375         10
185              Zambia       4552     140       2815    1597         71
186            Zimbabwe       2704      36        542    2126        192

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0            10             18                3.50                  69.49
1             6             63                2.95                  56.25
2             8            749                4.16                  67.34
3             0              0                5.73                  88.53
4             1              0                4.32                  25.47
..          ...            ...                 ...                    ...
182           2              0                0.73                  35.33
183           0              0               10.00                  80.00
184           4             36               28.56                  49.26
185           1            465                3.08                  61.84
186           2             24                1.33                  20.04

     Deaths / 100 Recovered  Confirmed last week  1 week change  \
0                      5.04                35526            737
1                      5.25                 4171            709
2                      6.17                23691           4282
3                      6.48                  884             23
4                     16.94                  749            201
..                      ...                  ...            ...
182                    2.08                 8916           1705
183                   12.50                   10              0
184                   57.98                 1619             72
185                    4.97                 3326           1226
186                    6.64                 1713            991

     1 week % increase             WHO Region
0                 2.07  Eastern Mediterranean
1                17.00                 Europe
2                18.07                 Africa
3                 2.60                 Europe
4                26.84                 Africa
..                 ...                    ...
182              19.12  Eastern Mediterranean
183               0.00                 Africa
184               4.45  Eastern Mediterranean
185              36.86                 Africa
186              57.85                 Africa

[187 rows x 15 columns]

In [96]:
#  Group Data by Country and Region 
print(mydataset.groupby("WHO Region").size())

WHO Region
Africa                   48
Americas                 35
Eastern Mediterranean    22
Europe                   56
South-East Asia          10
Western Pacific          16
dtype: int64

In [98]:
# Identify Regions with Zero Recovered Cases 
mydataset[mydataset["Recovered"] == 0]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.0,inf,112925,3533,3.13,Americas
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.0,inf,1507,194,12.87,Africa
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.0,inf,21253,2888,13.59,Europe
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.0,inf,78048,1347,1.73,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.0,inf,522,152,29.12,Eastern Mediterranean
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.0,0.0,24,0,0.00,South-East Asia